/*
클래스가 있는 모든 태그
    [class] {}
선택자 =일치, ^=시작, ~=포함(단, 공백으로 분리된 값까지 일치해야함), *=포함, $=끝, |=정확하게 일치하거나 시작하는 요소
    [class="self"] {}
    [class^="se"] {}
    [class~="el"] {}
    [class*="el"] {}
    [class$="lf"] {}
    [class|="sel"] {}
*/

header [type="button"] {
    color:white;
    background-color: rgb(100,100,100);
}

header [type="button"]:hover{
    background-color: rgba(50,50,50);
}

header [type="button"]:active{
    color: rgba(255, 0, 0, 255);
    background-color: rgba(0, 0, 0, 255);
}