body {
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-color: white;
    margin:0px; border: 0px; padding: 0px;
}
html, body { height: 100%; }
table {font-family: serif; border:1px double blue;}
address, footer, pre, header, article, aside, section, h1, h2, h3, h4, h5, h6, div:not([class]) { border:1px dashed black; }
video { min-width: 100%; max-width: 100%; }
details { border:1px dashed black; }

header { top:0px; }
footer { bottom:0px; }
header, footer{
    text-align: center;
    background-color: rgba(255, 173, 241, 0.7);
    width:100%;
    position:sticky;
}

tr, td {border:1px solid black;}
dl {width:100%; font-family: serif; border:2px dashed black; display: inline-block;}
li *{text-align: center;}
hr { width:100%; height:10px; border-width: 1px; background-color: black; }

.mouse_move {
    position : fixed;
    left:0;
    top:0;
}

.video2 {
    position : fixed;
    width: 100%;
    left: 0;
    align-self: center;
}